<div class= "container">
  <div class = "margin">
    <div class = "row">
      <div class = "col-xs-6 text-center offset-1">
        <p class ="fontstrong">けっしてどこにもない魅惑の美味しさ。<br>
          「幸せのスィーツ」をお召しください。</p>
        <p>スィーツのおいしさと食文化を正しく伝えていきたい、フランス菓子を<br>
          根付かせたいという想いでお菓子を作っています。古くから外国の文化<br>
          や食に親しみ、伝統を守りながらも新しいものを上手に取り入れて今の<br>
          時代を見つめながらも、その時々の動きに流されず旬のもの、からだに<br>
          やさしいものを基本の製法を踏まえて作っていきたいと考えています。
        </p>
      </div>
      <div class = "col-xs-2 offset-2">
        <%= image_tag 'logo1.png',size: "300x300" %>
      </div>
    </div>
  </div>
</div>
