<div class="container">
  <div ="row">
    <div class="col-xs-12 text-center mt-5 pb-5 font-weight-bold">
      <%= image_tag 'thanks.png',size:'360x160' %>
      <h5 class="thanks">ご注文ありがとうございました !</h5>
     </div>
  </div>
</div>