<h1>商品一覧</h1>
<% @items.each do |item| %>
<table>
  <tr>
    <td><%= link_to attachment_image_tag(item, :image_id, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg",size:'40x40'),item_path(item.id) %></br>
    <%= link_to item.name, item_path(item.id) %></br>
    <%= item.taxin_price.to_s(:delimited) %>円</td>
  </tr>

</table>
<% end %>